.answers-page {
    background-color: var(--white);
    opacity: 0.9;
    padding: 1rem;
}

.answers-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    border-bottom: 3px solid #FFFFFF;
}

.one-question {
    width: 80%;
}

.empty {
    color: var(--sky);
    padding: 2rem 0.5rem 3rem;
}

.q-button {
    min-width: 100px;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--black);
}

.q-button:hover {
    cursor: pointer;
    color: var(--purple);
}